<div class="modal-header">
    	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5"> 
		<a 
			type="submit"	
			ng-click="switchTab('imageCollections');"
			ng-class="[{active:currentTab=='imageCollections'}]"
			class="btn btn-primary" 
			style="width: 100%;">
			<big>Collections</big>
		</a>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">   
		<a 
			type="submit" 
			ng-click="switchTab('imageYourUploads');"
			ng-class="[{active:currentTab=='imageYourUploads'}]" 
			class="btn btn-primary" 
			style="width: 100%;">
			<big>Your Uploads</big>
		</a>	
	</div>

	
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
   
</div>
 
<div class="modal-body row">

	<div class="row">
	</div>

	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="refreshImageSelectorSpinner"></span>  	

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="currentTab=='imageCollections'"> 
	
		<div class="panel panel-default" ng-if="filteredData.length=='0'">
			<div class="panel-body">
	    		<h4>No images to show.</h4>   
	    	</div>
	    </div>

		<table class="table table-bordered my-repeat-animation" ng-repeat="item in filteredData = (imagesDefaultData  | orderBy : '-filteredData.imageId') ">            
	
	
			<tbody>  
				<tr>
			   		<td style="width:15%;">
			   			<a 
							type="button"
					
							ng-click="processImageChange(imagesDefaultData.indexOf(item));"               
							class="btn btn-default btn-sm">   
							Select
						</a>
					</td>
					<td style="background: white url(../img/{{item.imageFolder}}/{{item.imageFileName}}) no-repeat center;background-size:cover; max-height:100px;">     
					</td>
				</tr>   
			 	
			</tbody>  
		</table>	

	</div>
    
 	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="currentTab=='imageYourUploads'">  
 	

		
		
		<table class="table borderless">     
			<tbody>
				<tr>
			   		<td style="width:65%;">
			   		
				   <input class = "btn btn-default" type="file" file-input="files" onchange="uploadFile()"  accept=".jpg, .jpeg, .png, .bmp" style="width:100%; text-align:left;"/>        
          		</td>
			   		<td style="width:35%;">
			   	   <button class="btn btn-info" ng-click="uploadFile()"  style="margin: auto; width:100%;"><big>Upload</big></button>     
          	</td>					
					
				</tr>
			 	
			</tbody>   
		</table>		
		
	    
		<div ng-show="filteredImagesUserData.length=='0'">   
				<h4>No images to show.</h4>  
	    </div>
	    
	    
	    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="item in filteredImagesUserData = (imagesUserData  | orderBy : '-imageId') ">
		
			<table class="table table-bordered" >    
		
				<tbody>
					<tr>

						<td style="background: white url(../img/{{item.imageFolder}}/{{item.imageFileName}}) no-repeat center;background-size:cover; height:100px;">     
						</td>
					
						
					</tr>
					<tr>
				   		<td>
				   			<a 
								type="button"
								style="width:49%;"
								ng-click="processImageChange(imagesUserData.indexOf(item));"           
								class="btn btn-default btn-sm"> 
								Select
							</a>
							<a 
								type="button"
								style="width:49%;"  
								ng-click="processUserImageDelete(imagesUserData.indexOf(item));"         
								class="btn btn-default btn-sm"> 
								Delete
							</a>
						</td>						
					</tr>
				 	
				</tbody>
			</table>	    	
	    </div>
	    
	    

	

	</div>   
    
    
    
    
    
    
    
</div> <!-- end modal body -->
