<div class="modal-header">
    <h2 class="modal-title">Link to share  
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    </h2>
</div>
 
<div class="modal-body row">



		<div class="col-lg-12 col-md-12 col-s-12 col-xs-12">
            <div class="input-group">
    			<span class="input-group-addon">
    		        <i class="fas fa-link"></i>  
        		</span>
				<input 
					type="text"
					id="foo"
					name="linkToShare"
					ng-model="linkToShare" 
					class="form-control"
				    placeholder="Link to share">   
    				
    		</div>
    	
    	</div>
    	
    	<div class="col-lg-12 col-md-12 col-s-12 col-xs-12">
    		<hr />
    	</div>  
	
	
	
	<div class="col-lg-6 col-md-6 col-s-6 col-xs-6">  
	

	    <button  ngclipboard data-clipboard-text="{{linkToShare}}"  ngclipboard-success="onSuccess(e);" ngclipboard-error="onError(e);" class="btn btn-primary inverse" style="width: 100%;"><b>{{copyLinkButtonText}}</b></button>     

	</div>
	  
	<div class="col-lg-6 col-md-6 col-s-6 col-xs-6">
	<button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal" aria-hidden="true" style="width: 100%;"><b>Cancel</b></button>

	</div>

  
</div> <!-- end modal body -->
